.sidebar-footer {
  font-size: 12px;
}

.profile-img{
  height: 100%;
  width: 217px;
}


.subtitle{
  display: none;
}

#menu {
  display: none;
}

#ck-box{
  cursor: pointer;
  color: #fff;
  margin-top: 0;
  font-family: "freight-display-pro", serif;
  font-style: black;
  font-size: 3.25rem;
  float: left;
}

#menu-toggle {
  display: none; [> hide the checkbox <]
}

#menu-toggle:checked + #menu {
  display: block;
}

@media (min-width: 48em) {
  .sidebar-footer {
    position: fixed;
    bottom: 0;
  }
  #menu{
    display: block;
  }
  #menu-toggle:checked + #menu {
    display: block;
  }
  #ck-box{
    display: none;
  }
}
